<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Show</title>
</head>
<style>
    .list {
        border-collapse: collapse;
        margin: 10px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 400px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }
    .stations:visited {
      color: #000000;
    }
</style>
<body>
<div class="list" th:each="station : ${station}">
  <a class="stations" th:href="@{/stations/show/page/{currentPage}/{id}(id=${station.getDepartureStationName()},currentPage=${currentPage1})}"
     th:text="${station.getDepartureStationName()}">user</a>
</div>


<footer style="=font-size:large"class="panel-footer">
  <nav aria-label="Page navigation ">


    </br>
    <a  class="page-link" th:if="${currentPage1 > 1}" th:href="@{/stations/show/page/1}" >First</a>
    <span th:unless="${currentPage1 > 1}">First</span>&nbsp;&nbsp;

    <a th:if="${currentPage1 > 1}" th:href="@{'/stations/show/page/' + ${currentPage1 - 1}}">Previous</a>
    <span th:unless="${currentPage1 > 1}">Previous</span>&nbsp;&nbsp;

    <span th:each="i: ${#numbers.sequence(1, 10)}">
            <a th:if="${i != currentPage1}" th:href="@{'/stations/show/page/' + ${i}}">[[${i}]]</a>
            <span th:unless="${i != currentPage1}">[[${i}]]</span>&nbsp;&nbsp;
            </span>
    <a th:if="${currentPage1 < totalPages1}" th:href="@{'/stations/show/page/' + ${currentPage1 + 1}}">Next</a>
    <span th:unless="${currentPage1 < totalPages1}"></span>&nbsp;&nbsp;
    <a th:if="${currentPage1 > totalPages1}" th:href="@{'/stations/show/page/' + ${currentPage1 }}"></a>
    <span th:unless="${currentPage1 > totalPages1}"></span>&nbsp;&nbsp;

    <a th:if="${currentPage1 <totalPages1}" th:href="@{'/stations/show/page/' + ${totalPages1}}">Last</a>
    <span th:unless="${currentPage1 < totalPages1}"></span>


  </nav>
  Total Items [[${totalItems1}]] : Page [[${currentPage1}]] of [[${totalPages1}]]


  </br>
  </br>
  <a href="/stations">Main page</a>
</footer>
</body>
</html>